* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    color: white;
}

body{
    min-width: 300px;
    height: 100vh;
    background: linear-gradient(rgb(33, 41, 68), rgb(72, 72, 221), rgb(166, 166, 240), rgb(51, 41, 26));
}

:root{
    font-size: 16px;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
main {
    min-width: 300px;
    height: 70%;
    width: 55%;
    margin: 50px auto 0;
}
article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

article > div{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
article > div:hover {
    cursor: pointer;
    background: linear-gradient(to right, black, blue);
}
